include svg

mixin breadcrumbs( text, href=null )
  li.breadcrumbs__item
    +link-text( text, href=href, "breadcrumbs__link" )

mixin link( text, href="#", className="" )
  a.link-underlined( class=className href=href ) !{text}

mixin link-arrow( text, href="#", className="" )
  a.link-underlined.link-underlined--arrow( class=className href=href ) !{text}
    +svg( "arrow", 10, 10.4 )

mixin button-dashed( text, className="", type="button", isDisabled=false )
  button.link-underlined.link-underlined--dashed( class=className type=type disabled=(isDisabled ? "" : null) ) !{text}

mixin button-more( className="", text="Подробнее" )
  button.link-underlined.link-underlined--dashed.button-more( class=className type="button" data-text="Свернуть" )
    span.button-more__text !{text}
    svg( width="14" height="14" viewBox="0 0 14 14" aria-hidden="true" focusable="false" )
      rect( x="9" y="2" width="2" height="8" )
      rect( x="6" y="5" width="8" height="2" )

mixin link-rect( text, href="#", className="" )
  a.link-text.link-text--yellow.button( class=className href=href )
    span !{text}

mixin button-rect( text, className="", type="button", isDisabled=false )
  button.link-text.link-text--yellow.button( class=className type=type disabled=(isDisabled ? "" : null) )
    span !{text}

mixin double-button( email="", className="" )
  .double-button
    button.double-button__main.link-text.link-text--yellow.button( type="button" )
      span Откликнуться #[span.mobile-hidden на вакансию]
    .double-button__hidden
      a.double-button__email.link-text.link-text--yellow.button( href=("mailto:" + email) )
        span Написать #[span.mobile-hidden письмо] #[span.email #{email}]
      button.double-button__copy.link-text.link-text--yellow.button( type="button" )
        span.double-button__copy-before #[span.mobile-visible С]Копировать #[span.email #{email}] #[span.mobile-hidden в буфер обмена]
        span.double-button__copy-after
          +svg( "check", 12, 10) &nbsp
          span.double-button__copy-success Скопировано #[span.mobile-hidden в буфер обмена]
      .visually-hidden( aria-hidden="true" )
        input( type="text" value=email )

mixin link-text( text, href="#", className="" )
  a.link-text( class=className href=href )
    span !{text}

mixin button-text( text, className="", type="button", isDisabled=false )
  button.link-text( class=className type=type disabled=(isDisabled ? "" : null) )
    span !{text}

mixin button-close( ariaLabel, className="", isDisabled )
  button.button-close( class=className type="button" aria-label=ariaLabel disabled=(isDisabled ? "" : null) )
    span
    span
